.icon {
    max-width: 12rem;
    max-height: 7rem;
    height: 100%;
    width: 100%
}

.fail-svg {
    height: 50%;
    width: 60%
}

#quill-container a {
    cursor: pointer;
    --tw-text-opacity: 1;
    color: rgba(52, 126, 255, var(--tw-text-opacity))
}

.header-wrapper {
    display: inline-flex;
    align-items: center
}

.header-wrapper span.icon {
    cursor: pointer;
    font-size: 1.125rem;
    margin-left: .75rem;
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity))
}

.header-wrapper span.icon:hover {
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity))
}

.header-wrapper span.icon {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform-origin: center
}

.header-wrapper span.icon:hover {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1
}

.header-wrapper span.icon {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 150ms
}


:root {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

body {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'
}


code,
kbd,
pre,
samp {
    font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
    font-size: 1em
}

table {
    text-indent: 0;
    border-color: inherit
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}


[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}


button {
    background-color: transparent;
    background-image: none
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}


*,
::after,
::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

hr {
    border-top-width: 1px
}

img {
    border-style: solid
}

textarea {
    resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

[role=button],
button {
    cursor: pointer
}

table {
    border-collapse: collapse
}


button,
input,
optgroup,
select,
textarea {
    padding: 0;
    line-height: inherit;
    color: inherit
}


audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}


body {
    font-size: 1rem;
    font-family: 'PingFang SC Regular'
}


.cursor-pointer {
    cursor: pointer
}

.cursor-wait {
    cursor: wait
}

.cursor-not-allowed {
    cursor: not-allowed
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.inline {
    display: inline
}

.flex {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.hidden {
    display: none
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.items-baseline {
    align-items: baseline
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-around {
    justify-content: space-around
}

.flex-1 {
    flex: 1 1 0%
}

.flex-2 {
    flex: 2 2 0%
}

.flex-shrink-0 {
    flex-shrink: 0
}


.h-full {
    height: 100%
}


.m-0 {
    margin: 0
}

.m-3 {
    margin: .75rem
}

.m-4 {
    margin: 1rem
}

.m-5 {
    margin: 1.25rem
}

.m-6 {
    margin: 1.5rem
}


.mx-0 {
    margin-left: 0;
    margin-right: 0
}

.my-1 {
    margin-top: .25rem;
    margin-bottom: .25rem
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem
}

.my-3 {
    margin-top: .75rem;
    margin-bottom: .75rem
}

.mx-3 {
    margin-left: .75rem;
    margin-right: .75rem
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem
}

.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem
}

.mx-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem
}

.mx-10 {
    margin-left: 2.5rem;
    margin-right: 2.5rem
}

.mx-12 {
    margin-left: 3rem;
    margin-right: 3rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.mb-0 {
    margin-bottom: 0
}

.ml-0 {
    margin-left: 0
}

.mt-1 {
    margin-top: .25rem
}

.mr-1 {
    margin-right: .25rem
}

.mb-1 {
    margin-bottom: .25rem
}

.ml-1 {
    margin-left: .25rem
}

.mt-2 {
    margin-top: .5rem
}

.mr-2 {
    margin-right: .5rem
}

.mb-2 {
    margin-bottom: .5rem
}

.ml-2 {
    margin-left: .5rem
}

.mt-3 {
    margin-top: .75rem
}

.mr-3 {
    margin-right: .75rem
}

.mb-3 {
    margin-bottom: .75rem
}

.ml-3 {
    margin-left: .75rem
}

.mt-4 {
    margin-top: 1rem
}

.mr-4 {
    margin-right: 1rem
}

.mb-4 {
    margin-bottom: 1rem
}

.ml-4 {
    margin-left: 1rem
}

.mt-5 {
    margin-top: 1.25rem
}

.mr-5 {
    margin-right: 1.25rem
}

.mb-5 {
    margin-bottom: 1.25rem
}

.ml-5 {
    margin-left: 1.25rem
}

.mr-6 {
    margin-right: 1.5rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.mt-7 {
    margin-top: 1.75rem
}

.mr-7 {
    margin-right: 1.75rem
}

.mr-8 {
    margin-right: 2rem
}

.mb-8 {
    margin-bottom: 2rem
}

.ml-8 {
    margin-left: 2rem
}

.mt-10 {
    margin-top: 2.5rem
}

.mr-10 {
    margin-right: 2.5rem
}

.mb-10 {
    margin-bottom: 2.5rem
}

.ml-10 {
    margin-left: 2.5rem
}

.mt-14 {
    margin-top: 3.5rem
}

.mr-14 {
    margin-right: 3.5rem
}

.mt-16 {
    margin-top: 4rem
}

.ml-24 {
    margin-left: 6rem
}

.ml-auto {
    margin-left: auto
}


.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.overflow-auto {
    overflow: auto
}

.overflow-hidden {
    overflow: hidden
}

.overflow-scroll {
    overflow: scroll
}

.overflow-y-auto {
    overflow-y: auto
}

.overflow-x-hidden {
    overflow-x: hidden
}

.p-1 {
    padding: .25rem
}

.p-2 {
    padding: .5rem
}

.p-3 {
    padding: .75rem
}

.p-4 {
    padding: 1rem
}

.p-5 {
    padding: 1.25rem
}

.p-10 {
    padding: 2.5rem
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.py-7 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem
}

.px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.px-9 {
    padding-left: 2.25rem;
    padding-right: 2.25rem
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}

.px-12 {
    padding-left: 3rem;
    padding-right: 3rem
}

.px-14 {
    padding-left: 3.5rem;
    padding-right: 3.5rem
}

.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.px-16 {
    padding-left: 4rem;
    padding-right: 4rem
}

.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem
}

.px-20 {
    padding-left: 5rem;
    padding-right: 5rem
}

.px-24 {
    padding-left: 6rem;
    padding-right: 6rem
}

.py-0\.5 {
    padding-top: .125rem;
    padding-bottom: .125rem
}

.py-1\.5 {
    padding-top: .375rem;
    padding-bottom: .375rem
}

.px-1\.5 {
    padding-left: .375rem;
    padding-right: .375rem
}

.pb-0 {
    padding-bottom: 0
}

.pb-1 {
    padding-bottom: .25rem
}

.pt-2 {
    padding-top: .5rem
}

.pr-2 {
    padding-right: .5rem
}

.pb-2 {
    padding-bottom: .5rem
}

.pt-3 {
    padding-top: .75rem
}

.pr-3 {
    padding-right: .75rem
}

.pl-3 {
    padding-left: .75rem
}

.pt-4 {
    padding-top: 1rem
}

.pr-4 {
    padding-right: 1rem
}

.pb-4 {
    padding-bottom: 1rem
}

.pl-4 {
    padding-left: 1rem
}

.pt-5 {
    padding-top: 1.25rem
}

.pr-5 {
    padding-right: 1.25rem
}

.pb-5 {
    padding-bottom: 1.25rem
}

.pb-6 {
    padding-bottom: 1.5rem
}

.pl-6 {
    padding-left: 1.5rem
}

.pt-7 {
    padding-top: 1.75rem
}

.pb-7 {
    padding-bottom: 1.75rem
}

.pl-7 {
    padding-left: 1.75rem
}

.pb-8 {
    padding-bottom: 2rem
}

.pt-16 {
    padding-top: 4rem
}

.pb-16 {
    padding-bottom: 4rem
}

.pt-20 {
    padding-top: 5rem
}

.pr-20 {
    padding-right: 5rem
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}


* {
    --tw-ring-inset: var(--tw-empty, );
    /*!*/
    /*!*/
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000
}


.text-center {
    text-align: center
}

.text-right {
    text-align: right
}


.underline {
    text-decoration: underline
}

.visible {
    visibility: visible
}


.w-full {
    width: 100%
}


body {
    width: 100vw;
    height: 100vh;
    overflow: hidden
}

body div {
    scrollbar-color: transparent;
    scrollbar-width: 0
}

body div::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: 0 0
}

#app {
    background-color: #f9fafc;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    font-family: PingFang SC;
    color: #212445;
    letter-spacing: .025em
}

.text-primary {
    color: #2e7aff
}



#app .el-table thead th {
    background: #f6f8fa;
    color: rgba(33, 36, 69, .6);
    font-weight: 400;
}

#app .el-table thead th .cell {
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: clip
}

#app .el-table .cell {
    font-size: inherit
}
#app .el-table tbody tr td .cell {
    padding-left: 10px;
}

.el-table__body-wrapper::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    z-index: 10;
    box-sizing: border-box;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.el-table__body-wrapper::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgba(209, 213, 219, var(--tw-bg-opacity))
}

body>div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    z-index: 10;
    box-sizing: border-box;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

#app .el-tree-node__content {
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    min-height: 26px
}

#app .el-tabs__item.is-active,
#app .el-tabs__item:hover:hover {
    --tw-text-opacity: 1;
    color: rgba(52, 126, 255, var(--tw-text-opacity))
}

#app .el-tabs__active-bar {
    --tw-bg-opacity: 1;
    background-color: rgba(52, 126, 255, var(--tw-bg-opacity))
}

#app .el-tree-node__content {
    position: relative
}

.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #2e7aff !important
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #2e7aff !important;
    border-color: #2e7aff !important
}

#app .el-button--text {
    color: #606266
}


.el-radio-button__inner,
.el-radio-group {
    display: inline-block;
    line-height: 1;
    vertical-align: middle
}



.svg-icon {
    width: 1em;
    height: 1em;
    vertical-align: middle
}